@font-face{
    font-family: 'helvetica';
    src:url('../../assets/Helvetica.ttf');
}
@import '../../assets/variables';



.container {
    background-color: white;


    .content_title {
        font-family: 'helvetica';
        font-size: 40px;
        font-weight: 600;


        @media screen and (max-width: 1024px) {
            font-size: 36px;
        }

        @media screen and (max-width: 768px) {
            font-size: 35px;
        }

        @media screen and (max-width: 425px) {
            font-size: 35px;
        }

        @media screen and (max-width: 375px) {
            font-size: 30px;
        }

        @media screen and (max-width: 320px) {
            font-size: 30px;
        }

        .red {
            color: rgb(230,43,30);
            font-weight: 700;
        }
    }


    .content_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        @media #{$media-tablet-p} {
            flex-direction: column;
        }

        @media #{$media-mobile} {
            flex-direction: column;
        }

        @media #{$media-small} {
            flex-direction: column;
        }

        .content {
            order: 2;
            color: black;
            font-family: 'helvetica';
            line-height: 20px;
            width: 50%;
            font-size: 16px;
            padding: 17px;
            margin-top: 50px;
            max-width: 500px;
            max-height: 300px;

            @media #{$media-tablet-p} {
                width: 85%;
                order: 2;
                padding-bottom: 40px;
                font-size: 13px;
                font-weight: 300;
            }

            @media #{$media-mobile} {
                width: 85%;
                order: 2;
                padding-bottom: 40px;
                font-size: 13px;
                font-weight: 400;
            }

            @media #{$media-small} {
                width: 85%;
                order: 2;
                padding-bottom: 40px;
                font-size: 13px;
                font-weight: 400;
            }

            .content_data {
                margin-bottom: 20px;
            }

            .HeroButton {
                text-decoration: none;
                color: white;
                font-size: 15px;
                margin-top: 100px;
                font-family: 'helvetica';
                padding: 10px;
                background-color: rgb(230,43,30);
            }
        }

        .content2 {
            order: 2;
            color: black;
            font-family: 'helvetica';
            line-height: 20px;
            width: 50%;
            font-size: 16px;
            margin-top: 50px;
            max-width: 500px;
            max-height: 300px;

            @media #{$media-tablet-p} {
                width: 100%;
                order: 2;
                font-size: 13px;
                font-weight: 300;
            }

            @media #{$media-mobile} {
                width: 100%;
                order: 2;
                font-size: 13px;
                font-weight: 400;
                padding-top: 100px;
            }

            @media #{$media-small} {
                width: 100%;
                order: 2;
                font-size: 13px;
                font-weight: 400;
                padding-top: 90px;
            }
        }

        .About_image {
            margin-top: 50px;
            max-width: 500px;
            max-height: 300px;
            color: black;
            font-family: 'helvetica';
            line-height: 20px;
            width: 50%;
            font-size: 16px;
            padding: 25px;

            @media #{$media-tablet-p} {
                order: 2;
                align-self: center;
                font-size: 13px;
                font-weight: 400;
                padding: 20px;
            }

            @media #{$media-mobile} {
                order: 2;
                align-self: center;
                width: 320px;
                height: 200px;
                font-size: 13px;
                font-weight: 400;
                padding: 15px;
            }

            @media #{$media-small} {
                order: 2;
                align-self: center;
                width: 320px;
                height: 200px;
                font-size: 13px;
                font-weight: 400;
                padding: 10px;
            }
        }

        .About_text {
            margin-top: 50px;
            max-width: 500px;
            max-height: 300px;
            color: black;
            font-family: 'helvetica';
            line-height: 20px;
            width: 50%;
            font-size: 16px;
            padding: 25px;

            @media #{$media-tablet-p} {
                order: 2;
                align-self: center;
                font-size: 13px;
                font-weight: 400;
                width: 90%;
                padding-bottom: 50px;
            }

            @media #{$media-mobile} {
                order: 2;
                align-self: center;
                width: 320px;
                height: 200px;
                font-size: 13px;
                font-weight: 400;
                width: 90%;
                padding-bottom: 170px;
            }

            @media #{$media-small} {
                order: 2;
                align-self: center;
                width: 320px;
                height: 200px;
                font-size: 13px;
                font-weight: 400;
                width: 90%;
                padding-bottom: 200px;
            }
        }
    }
}