@font-face{
    font-family: 'helvetica';
    src:url('../../assets/Helvetica.ttf');
}
@import '../../assets/variables';
layout{
    background-color: black;
    
}

.section {
    background-color: black;
    width: 100%;
    height:2300px;
    

    .red {
        color: rgb(230,43,30);
        font-weight: 700;
    }

    .container {
        background-color: black;
        width: 100%;



        .speaker_container {
            margin-top: 0px;
            display: flex;
            width: 100%;
            flex-flow: column wrap;
            justify-content: left;

            .speaker_content {
                background-color: black;
                margin-top: 100px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;

                @media #{$media-tablet-p} {
                    flex-direction: column;
                }

                @media #{$media-mobile} {
                    flex-direction: column;
                }

                @media #{$media-small} {
                    flex-direction: column;
                }

                .speaker_details {
                    width: 100%;
                    height: 80%;
                    font-size: 50px;
                    font-family: 'helvetica';
                    color: white;

                    @media #{$media-tablet-p} {
                        align-self: center;
                        width: 80%;
                    }

                    @media #{$media-mobile} {
                        align-self: center;
                        width: 80%;
                        font-size: 13px;
                    }

                    @media #{$media-small} {
                        font-size: 13px;
                        align-self: center;
                        width: 80%;
                    }



                    .title {
                        text-align: left;
                        color: white;
                        font-size: 70px;
                        color: rgb(230,43,30);
                        font-weight: 700;
                        font-family: 'helvetica';
                        font-weight: 600;

                        @media #{$media-mobile} {
                            font-size: 25px;
                        }

                        @media #{$media-small} {
                            font-size: 25px;
                        }
                    }
                }



                .speaker_detailstwo {
                    width: 50%;
                    height: 80%;
                    font-size: 15px;
                    font-family: 'helvetica';
                    color: white;

                    @media #{$media-tablet-p} {
                        align-self: center;
                        width: 80%;
                    }

                    @media #{$media-mobile} {
                        align-self: center;
                        width: 80%;
                        font-size: 13px;
                    }

                    @media #{$media-small} {
                        font-size: 13px;
                        align-self: center;
                        width: 80%;
                    }



                    .titletwo {
                        text-align: center;
                        color: white;
                        font-size: 15px;
                        color: rgb(230,43,30);
                        font-weight: 700;
                        font-family: 'helvetica';
                        font-weight: 600;

                        @media #{$media-mobile} {
                            font-size: 25px;
                        }

                        @media #{$media-small} {
                            font-size: 25px;
                        }
                    }
                }









                .speaker_holder {
                    margin-top: 20px;
                    display: flex;
                    justify-content: left;
                    max-height: 400px;
                    max-width: 700px;



                    @media #{$media-tablet-p} {
                        margin-left: 0px;
                        align-self: center;
                        margin-bottom: 0px;
                    }

                    @media #{$media-mobile} {
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 30px;
                        align-self: center;
                    }

                    @media #{$media-small} {
                        margin-left: 0px;
                        margin-bottom: 0px;
                        margin-top: 30px;
                        align-self: center;
                    }


                    .speaker_name {
                        align-self: center;
                        font-family: 'helvetica';
                        color: white;
                        font-size: 20px;
                        margin-bottom: 0px;
                    }

                    .about_speaker {
                        align-self: center;
                        font-family: 'helvetica';
                        margin: 0px;
                        font-size: 20px;
                        color: red;
                    }

                    .speaker {
                        align-self: flex-start;
                        width: 250px;
                        height: 250px;
                        border-radius: 125px;
                    }
                }
            }
        }
    }
}

// For First One - Kevin Missal
.rect1 {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 31px;
    margin-top: 400px;
    border: 5px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 35px;

    @media screen and (max-width: 1024px) {
        width: 250px;
        height: 200px;
        left: 28px;
        margin-top: 380px;
        border: 5px solid #E5E5E5;
    }

    @media screen and (max-width: 768px) {
        width: 200px;
        height: 150px;
        left: 24px;
        margin-top: 340px;
        border: 4px solid #E5E5E5;
    }

    @media screen and (max-width: 425px) {
        width: 140px;
        height: 90px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }
}

.line11 {
    position: absolute;
    width: 250px;
    height: 0px;
    left: 331px;
    margin-top: 480px;
    border: 3px solid #FFFFFF;

    @media screen and (max-width: 1024px) {
        width: 230px;
        left: 280px;
        margin-top: 480px;
    }

    @media screen and (max-width: 768px) {
        width: 160px;
        left: 225px;
        margin-top: 420px;
    }

    @media screen and (max-width: 425px) {
        width: 130px;
        left: 120px;
        margin-top: 280px;
        border: 2px solid #FFFFFF;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}
.line12 {
    position: absolute;
    width: 230px;
    height: 0px;
    left: 830px;
    margin-top: 480px;
    border: 3px solid #FFFFFF;

    @media screen and (max-width: 1024px) {
        width: 240px;
        left: 720px;
        margin-top: 480px;
    }

    @media screen and (max-width: 768px) {
        width: 170px;
        left: 545px;
        margin-top: 420px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}
.line13 {
    position: absolute;
    width: 290px;
    height: 0px;
    left: 900px;
    margin-top: 605px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);

    @media screen and (max-width: 1024px) {
        width: 260px;
        left: 800px;
        margin-top: 595px;
    }

    @media screen and (max-width: 768px) {
        width: 180px;
        left: 620px;
        margin-top: 500px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        left: 0px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}
.line14 {
    position: absolute;
    width: 910px;
    height: 0px;
    left: 152px;
    margin-top: 725px;
    border: 3px solid #FFFFFF;

    @media screen and (max-width: 1024px) {
        width: 790px;
        left: 172px;
        margin-top: 705px;
    }

    @media screen and (max-width: 768px) {
        width: 550px;
        left: 160px;
        margin-top: 580px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}
.line15 {
    position: absolute;
    width: 105px;
    height: 0px;
    left: 152px;
    margin-top: 705px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);

    @media screen and (max-width: 1024px) {
        width: 150px;
        left: 142px;
        margin-top: 655px;
    }

    @media screen and (max-width: 768px) {
        width: 120px;
        left: 140px;
        margin-top: 540px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}
.text1 {
    font-family: 'Script MT';
    font-size: 40px;
    color: red;
    position: absolute;
    margin-left: 600px;
    margin-top: 460px;

    @media screen and (max-width: 1024px) {
        width: 200px;
        margin-left: 520px;
        margin-top: 460px;
        font-size: 35px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        margin-left: 390px;
        margin-top: 400px;
        font-size: 27px;
    }

    @media screen and (max-width: 425px) {
        width: 160px;
        margin-left: 230px;
        margin-top: 270px;
        font-size: 22px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}
.cont1 {
    font-family: helvetica;
    font-size: 18px;
    color: white;
    position: absolute;
    margin-left: 360px;
    margin-top: 520px;
    width: 650px;

    @media screen and (max-width: 1024px) {
        width: 200px;
        margin-left: 320px;
        margin-top: 520px;
        font-size: 16px;
        width: 590px;
    }

    @media screen and (max-width: 768px) {
        width: 460px;
        margin-left: 240px;
        margin-top: 450px;
        font-size: 12px;
    }

    @media screen and (max-width: 425px) {
        width: 240px;
        margin-left: 160px;
        margin-top: 300px;
        font-size: 9px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}



// For Second One - Jeena
.rect2 {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 824px;
    margin-top: 900px;
    border: 5px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 35px;

    @media screen and (max-width: 1024px) {
        width: 280px;
        height: 230px;
        left: 684px;
        margin-top: 900px;
        border: 5px solid #E5E5E5;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        height: 170px;
        left: 24px;
        margin-top: 340px;
        border: 4px solid #E5E5E5;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }
}

.line21 {
    position: absolute;
    width: 250px;
    height: 0px;
    left: 570px;
    margin-top: 950px;
    border: 3px solid #FFFFFF;

    @media screen and (max-width: 1024px) {
        width: 160px;
        left: 520px;
        margin-top: 950px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

.line22 {
    position: absolute;
    width: 170px;
    height: 0px;
    left: 120px;
    margin-top: 950px;
    border: 3px solid #FFFFFF;

    @media screen and (max-width: 1024px) {
        width: 170px;
        height: 0px;
        left: 120px;
        margin-top: 950px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

.line23 {
    position: absolute;
    width: 290px;
    height: 0px;
    left: 0px;
    margin-top: 1055px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);

    @media screen and (max-width: 1024px) {
        width: 290px;
        height: 0px;
        left: 0px;
        margin-top: 1055px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

.line24 {
    position: absolute;
    width: 900px;
    height: 0px;
    left: 112px;
    margin-top: 1175px;
    border: 3px solid #FFFFFF;

    @media screen and (max-width: 1024px) {
        width: 700px;
        height: 0px;
        left: 112px;
        margin-top: 1175px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

.line25 {
    position: absolute;
    width: 45px;
    height: 0px;
    left: 952px;
    margin-top: 1175px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);

    @media screen and (max-width: 1024px) {
        width: 6px;
        height: 0px;
        left: 772px;
        margin-top: 1155px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

.text2 {
    font-family: 'Script MT';
    font-size: 40px;
    color: red;
    position: absolute;
    margin-left: 300px;
    margin-top: 925px;

    @media screen and (max-width: 1024px) {
        margin-left: 300px;
        margin-top: 925px;
        font-size: 35px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

.cont2 {
    font-family: helvetica;
    font-size: 18px;
    color: white;
    position: absolute;
    margin-left: 180px;
    margin-top: 980px;
    width: 620px;

    @media screen and (max-width: 1024px) {
        margin-left: 160px;
        margin-top: 980px;
        font-size: 16px;
        width: 530px;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        left: 500px;
        margin-top: 480px;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        left: 17px;
        margin-top: 280px;
    }
}

// For Third One - Harshit
.rect3 {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 31px;
    margin-top: 1400px;
    border: 5px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 35px;

    @media screen and (max-width: 1024px) {
        width: 280px;
        height: 230px;
        left: 28px;
        margin-top: 380px;
        border: 5px solid #E5E5E5;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        height: 170px;
        left: 24px;
        margin-top: 340px;
        border: 4px solid #E5E5E5;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }
}

.line31 {
    position: absolute;
    width: 250px;
    height: 0px;
    left: 331px;
    margin-top: 1480px;
    border: 3px solid #FFFFFF;
}

.line32 {
    position: absolute;
    width: 160px;
    height: 0px;
    left: 900px;
    margin-top: 1480px;
    border: 3px solid #FFFFFF;
}

.line33 {
    position: absolute;
    width: 330px;
    height: 0px;
    left: 870px;
    margin-top: 1620px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line34 {
    position: absolute;
    width: 870px;
    height: 0px;
    left: 189px;
    margin-top: 1770px;
    border: 3px solid #FFFFFF;
}

.line35 {
    position: absolute;
    width: 145px;
    height: 0px;
    left: 152px;
    margin-top: 1705px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.text3 {
    font-family: 'Script MT';
    font-size: 40px;
    color: red;
    position: absolute;
    margin-left: 600px;
    margin-top: 1460px;
}

.cont3 {
    font-family: helvetica;
    font-size: 18px;
    color: white;
    position: absolute;
    margin-left: 354px;
    margin-top: 1520px;
    width: 675px;
}

// For Second One - Jeena
.rect4 {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 824px;
    margin-top: 1900px;
    border: 5px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    border-radius: 35px;

    @media screen and (max-width: 1024px) {
        width: 280px;
        height: 230px;
        left: 28px;
        margin-top: 380px;
        border: 5px solid #E5E5E5;
    }

    @media screen and (max-width: 768px) {
        width: 220px;
        height: 170px;
        left: 24px;
        margin-top: 340px;
        border: 4px solid #E5E5E5;
    }

    @media screen and (max-width: 425px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 375px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }

    @media screen and (max-width: 320px) {
        width: 170px;
        height: 120px;
        left: 17px;
        margin-top: 280px;
        border: 3px solid #E5E5E5;
    }
}

.line41 {
    position: absolute;
    width: 250px;
    height: 0px;
    left: 570px;
    margin-top: 1950px;
    border: 3px solid #FFFFFF;
}

.line42 {
    position: absolute;
    width: 170px;
    height: 0px;
    left: 120px;
    margin-top: 1950px;
    border: 3px solid #FFFFFF;
}

.line43 {
    position: absolute;
    width: 290px;
    height: 0px;
    left: 0px;
    margin-top: 2055px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line44 {
    position: absolute;
    width: 900px;
    height: 0px;
    left: 112px;
    margin-top: 2175px;
    border: 3px solid #FFFFFF;
}

.line45 {
    position: absolute;
    width: 45px;
    height: 0px;
    left: 952px;
    margin-top: 2175px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.text4 {
    font-family: 'Script MT';
    font-size: 40px;
    color: red;
    position: absolute;
    margin-left: 300px;
    margin-top: 1925px;
}

.cont4 {
    font-family: helvetica;
    font-size: 18px;
    color: white;
    position: absolute;
    margin-left: 180px;
    margin-top: 1980px;
    width: 620px;
}


        @font-face {
            font-family: 'helvetica';
            src: url('../../assets/Helvetica.ttf');
        }

        @import '../../assets/variables';

        $adjust: '200px';

